<h2 class="a11y-hide">Current Efforts</h2>
{{#efforts}}
<div class="feat">
  <div class="head">
    <span>
      <h3 class="feat-hed">{{{title}}}</h3>
      <p class="status">{{status}}</p>
    </span>
  </div>
  <div class="body">
    
    <div class="col-b">
      <h4 class="impl-hed">Impl<span class="abbr">ementation</span> Status</h3>
      <div class="support">
        {{#each support}}
          <img src="_img/icon-{{name}}.png" alt="{{name}}" {{#supported}}class="full-support"{{/supported}}>
        {{/each}}
      </div>
    </div>
    <div class="col-a">
      <p>{{{desc}}}</p>

      {{#hascode}}
      <h4 class="subhed">Usage</h3>
      <div class="usage">
        <code><pre>{{snippet}}</pre></code>
      </div>
      {{/hascode}}

      <h4 class="subhed">Documentation</h3>
      <dl class="docs">
        {{#each docs}}
        <dt {{#formal}}class="published"{{/formal}}>{{title}}</dt>
        <dd {{#formal}}class="published"{{/formal}}><a href="{{url}}">{{url}}</a></dd>
        {{/each}}
      </dl>

    </div>
  </div>
</div>
{{/efforts}}